body {
  background-color: antiquewhite;
}

.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 25px;
  align-items: center;
  justify-items: center;
}

.headerText {
  text-align: center;
}

.gameboardContainer {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  margin: 0 auto;
}

.gamesquare {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: white;
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.playerTurn {
  background-color: blue;
}

.gameState {
  background-color: black;
  margin-top: 25px;
  color: greenyellow;
  text-align: center;
  font-weight: bold;
}

#divBtnStart {
  display: flex;
  justify-content: center;
}

.playerButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}
